# Create the preprocessed healthcare pathways dataset

In this notebook we will preprocess de eay datasets given by the client. The client native language is spanish, but the development of this project is in english. In order to keep the tool reliable to the client, the input expected and the output given will be in spanish, but during the hidden proccesses, we will work in english.

### Installations and imports

In [1]:
import numpy as np
import pandas as pd
import os
from kmedoids import pam as Pam
import itertools

### Read the raw datasets

In [2]:
# The main directory to find the raw datasets
base_dir = '../dataset/raw'

This raw dataset is 'affiliate_practice' ($ap$). It shows which medical practices has been taken by a certain affiliate.

In [3]:
target_filename = 'affiliate_practice.csv'

for dirname, _, filenames in os.walk(base_dir):
    if target_filename in filenames:
        filepath = os.path.join(dirname, target_filename)
        print(f"File founded: {filepath}")
        ap = pd.read_csv(filepath)
        break

File founded: ../dataset/raw\affiliate_practice.csv

This raw dataset is 'diabetes_practices' ($dp$). These are the practices of interest for the analysis.

In [4]:
target_filename = 'diabetes_practices.csv'

for dirname, _, filenames in os.walk(base_dir):
    if target_filename in filenames:
        filepath = os.path.join(dirname, target_filename)
        print(f"File founded: {filepath}")
        dp = pd.read_csv(filepath)
        break  

# define a list of the practices ids of this dataset
dp_ids = list(dp.get('id_practica'))
n_dp_ids = len(dp_ids)
print('THE NUMBER OF PRACTICES OF INTEREST TO EVALUATE IS',n_dp_ids)

File founded: ../dataset/raw\diabetes_practices.csv
THE NUMBER OF PRACTICES OF INTEREST TO EVALUATE IS 17

### Plot raw datasets

As we explain before, the column names are in spanish since this is information given by the client.

In [5]:
ap

,id_afiliado,id_practica,nombre_practica,fecha,dia,mes,anio
0,6d0e46f26269df8d87636480fd023c9d,12.42.01.01,CONSULTA MEDICA SIN ESPECIALIDAD,02/05/2019,2,5,2019
1,a60a5e9d07bc1667c71cd4ee95c9058d,12.42.01.01,CONSULTA MEDICA SIN ESPECIALIDAD,02/05/2019,2,5,2019
2,a60a5e9d07bc1667c71cd4ee95c9058d,12.17.01.01,ELECTROCARDIOGRAMA EN CONSULTORIO,02/05/2019,2,5,2019
3,116ed781dcc78944c5d23b74c30246f9,11.13.01.07,"DESTRUCCIÓN DE LESIÓN DE PIEL (VERRUGA, QUERAT...",02/05/2019,2,5,2019
4,39ce4fde48cf81b2264f68cfb00c6f93,12.42.01.01,CONSULTA MEDICA SIN ESPECIALIDAD,02/05/2019,2,5,2019
...,...,...,...,...,...,...,...
286002,3c7b1f81b6e630cef26f68f3b2f76580,07.66.00.0001,ACTO BIOQUIMICO,09/09/2024,9,9,2024
286003,3c7b1f81b6e630cef26f68f3b2f76580,07.66.03.0309,"EXUDADO NASOFARINGEO, CULTIVO. |(antes)| EXUDA...",09/09/2024,9,9,2024
286004,3c7b1f81b6e630cef26f68f3b2f76580,07.66.11.1180,TEST RAPIDO en FAUCES para STREPTOCOCCUS Beta ...,09/09/2024,9,9,2024
286005,3c7b1f81b6e630cef26f68f3b2f76580,07.66.20.2003,ACTO BIOQUÍMICO ADMINISTRATIVO POR VALIDACIÓN ...,09/09/2024,9,9,2024
286006,934914c7bac3b342c896f4ffc239c3e7,12.42.01.22,CONSULTA ESPECIALISTA CON PRACTICAS CAT C,09/09/2024,9,9,2024

In [6]:
dp

      id_practica                                    nombre_practica
0     12.19.03.03  CONSULTA NUTRICIONISTA CON ESPECIALIZACIÓN EN ...
1   07.66.04.0412                  GLUCEMIA (C/U) |(antes)| GLUCEMIA
2   07.66.10.1035    COLESTEROL HDL (HDL-C) |(antes)| COLESTEROL HDL
3   07.66.10.1070  HEMOGLOBINA GLICOSILADA (Hb A1C) |(antes)| HEM...
4   07.66.11.1130  MICROALBUMINURIA / ALBUMINA URINARIA |(antes)|...
5   07.66.01.0174                                   COLESTEROL TOTAL
6     12.42.01.10                 CONSULTA ESPECIALISTAS EN DIABETES
7     12.19.03.01              CONSULTA INICIAL CON PLAN NUTRICIONAL
8     12.46.00.04    Consulta oft. a domicilio, más de 3 se adj H.C.
9     12.46.00.01  CONSULTA VESTIDA OFTALMOLOGICA (PEDIATRICA Y D...
10    12.46.01.05  RFG BILATERAL (SIN DESCARTABLE) RETINOFLUORESE...
11    12.46.01.08                        RG BILATERAL -RETINOGRAFIA
12    12.46.01.19           TOMOGRAFIA OPTICA DE COHERENCIA POR OJO
13    12.46.02.01       LESIONES MACULARES(EDEMA MACULAR DIABÉTICO)
14    12.46.02.10  RETINOPLASTÍA DIABÉTICA SEVERA(PANFOTOCOAGULAC...
15  07.66.01.0192                    CREATININA - serica o urinaria
16  07.66.10.1040                            LDL COLESTEROL (LDL-C)

### Define the semester states

Now, we will define the matrix of semester states. A semester has an state codified as an hexadecimal number $code \in [0,2^{n\_practices})$, where $n\_practices$ is the amount of practices to evaluate. Each semester state represent a situation over the corresponding practices. If a practice was taken by an affiliate $i$ in the semester, then its value in the matrix will be $1$, and $0$ otherwise.

In the following matrix, you can see all the combinatios of taken/not-taken practices, and its corresponding code.

In [7]:
# defines the columns names, and the tuples data
num_combinations = 2 ** len(dp_ids)
codes = [hex(i) for i in range(num_combinations)]
combinations = list(itertools.product([0, 1], repeat=len(dp_ids)))
data = [combination + (code,) for combination,code in zip(combinations,codes)]

# create the semester states structure
columns = dp_ids.copy()
columns.append('code')
semester_states_dataset = pd.DataFrame(data,columns=columns)
display(semester_states_dataset)

semester_states_dataset.to_csv('../dataset/preprocessed/semester_states_dataset.csv',index=False)

,12.19.03.03,07.66.04.0412,07.66.10.1035,07.66.10.1070,07.66.11.1130,07.66.01.0174,12.42.01.10,12.19.03.01,12.46.00.04,12.46.00.01,12.46.01.05,12.46.01.08,12.46.01.19,12.46.02.01,12.46.02.10,07.66.01.0192,07.66.10.1040,code
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0x0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0x1
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0x2
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0x3
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0x4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131067,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,0x1fffb
131068,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0x1fffc
131069,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0x1fffd
131070,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0x1fffe
131071,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0x1ffff

### Filter raw datasets

Considering a dateformat of dd/mm/YYYY, we will mainly work with the $ap$ dataset. First, we delete all tuples with a date after 01/07/2024 and before 31/12/2020, in order to have tuples of practices taken during the last 7 semesters.

In [8]:
# cast 'fecha' attribute to date
ap['fecha'] = pd.to_datetime(ap['fecha'],format='%d/%m/%Y')

# define the dates interval
sup_date = pd.to_datetime('01/07/2024', format='%d/%m/%Y')
low_date = pd.to_datetime('31/12/2020', format='%d/%m/%Y')

# filter dates outside the interval
ap = ap[ap['fecha'] < sup_date]
ap = ap[ap['fecha'] > low_date]

Now, we filter from $ap$ all the tuples in which its 'id_practica' is not part of the practices defined in $dp$. Remember that $dp$ defines the practices of interest to analyze.

In [9]:
ap = ap[ap['id_practica'].isin(dp_ids)]

### Defining the sets of affiliates and semesters

Each affiliate will be assoaciated to a sequence of 7 semester states. Due to that, we need either to recognize the affiliates and to define the 7 semesters to work on.

In [11]:
# getting the ids of the affiliates and how many them are
affiliate_ids = list(set(ap['id_afiliado']))
n_affiliate_ids = len(affiliate_ids)
print('THERE IS A TOTAL',n_affiliate_ids,'AFFILIATES.')

THERE IS A TOTAL 4520 AFFILIATES.

In [12]:
# TODO: GENERALIZE THIS

# define the 7 semesters
# each semesters is formed by a interval [a,b).
semesters = {       
    'semester_1': [pd.Timestamp(f'2021-01-01'), pd.Timestamp(f'2021-07-01')],
    'semester_2': [pd.Timestamp(f'2021-07-01'), pd.Timestamp(f'2022-01-01')],
    'semester_3':[pd.Timestamp(f'2022-01-01'), pd.Timestamp(f'2022-07-01')],
    'semester_4':[pd.Timestamp(f'2022-07-01'), pd.Timestamp(f'2023-01-01')],
    'semester_5':[pd.Timestamp(f'2023-01-01'), pd.Timestamp(f'2023-07-01')],
    'semester_6':[pd.Timestamp(f'2023-07-01'), pd.Timestamp(f'2024-01-01')],
    'semester_7':[pd.Timestamp(f'2024-01-01'), pd.Timestamp(f'2024-07-01')]
}

print('THERE IS A TOTAL OF',len(semesters.keys()),'SEMESTERS')

THERE IS A TOTAL OF 7 SEMESTERS

### Defining auxiliary functions

The following auxiiary functions will be useful for the main workflow of this notebook.

In [13]:
def get_new_semester_state():
    '''
    Return a initialized semester state represented as a dictionary of 0 values.
    It's 0s values will be changing to 1 accordingly.
    '''
    semester_state = dict(zip(dp_ids,[0 for i in dp_ids]))
    return semester_state

In [14]:
def semester_state_to_code(semester_state):
    '''
    Given a semeter state as a binary list, its transform it to its hexadecimal code.
    '''
    # transform binary list to binary string
    binary_string = ''.join(str(bit) for bit in semester_state)
    
    # the binary string must have a size multiple of 4
    padded_binary = binary_string.zfill(len(binary_string) + (4 - len(binary_string) % 4) % 4)
    
    # transform binary string into a decimal
    decimal_value = int(padded_binary, 2)
    
    # transform decimal into hexadecimal
    code = format(decimal_value, 'X')  # 'X' is mayuscules
    
    return code

### Creating the sequences dataset

Finally, we will create the sequences dataset. This will be the main input for the clustering workflow. This preprocessed dataset gives, for each affiliate, its corresponding healthcare sequence during 7 semesters.

In [15]:
sequences = []

for itr,affiliate_id in enumerate(affiliate_ids):
    
    sequence = []
    for semester in semesters.values():
        # initializa a semester state structure
        current_semester_state = get_new_semester_state()

        # the low and superior dates of the current semester
        low_date = semester[0]
        sup_date = semester[1]

        # given an affiliate an a semester, we get the practices done by that affiliate in that semester
        practices = ap[ 
                (ap['fecha'] >= low_date)
                & (ap['fecha'] < sup_date)
                & (ap['id_afiliado'] == affiliate_id)
                ]['id_practica']

        # we use each practice found to change acordingly the semester state data structure
        # if a practice was found, its corresponding binary value changes to 1
        for practice in practices:
            current_semester_state[practice] = 1
        # translate the semester state to its code and append to the sequence
        sequence.append(semester_state_to_code(list(current_semester_state.values())))
    # append the resulting sequence to the general data structure
    sequences.append(sequence)
    
sequences = np.array(sequences)

Now, we create the DataFrame for the preprocessed dataset calculated.

In [17]:
columns = ['id_affiliate']+list(semesters.keys())
data = np.column_stack((np.array(affiliate_ids),sequences))
sequences_dataset = pd.DataFrame(data,columns=columns)
display(sequences_dataset)

sequences_dataset.to_csv('../dataset/preprocessed/labeled_sequences_dataset.csv',index=False)
sequences_dataset.drop(columns=['id_affiliate']).to_csv('../dataset/preprocessed/sequences_dataset.csv',index=False)

,id_affiliate,semester_1,semester_2,semester_3,semester_4,semester_5,semester_6,semester_7
0,af76110f9e7a3bc4d4915537bb338d32,8002,0,0,0,C803,2000,0
1,629133a85a6afe0bab1e95ba3332bf58,0,0,0,0,2002,0,0
2,b0cdbe6f68cc969bae9f107166ac4978,C003,0,0,8002,80,0,0
3,f9d1c29e6293acc17d497a30beed47f0,0,0,0,0,0,400,0
4,c53d10086ce0c9c22ceca114433edfdb,F883,A002,0,0,0,400,0
...,...,...,...,...,...,...,...,...
4515,4350ebbd74401db546fc3bf0dc8b3483,0,0,0,80,0,0,0
4516,f6b377b7e0de8ec0fa95ef004bcb8b7d,0,0,0,0,0,E803,0
4517,a9745265387be7d1a55fed9bd55f97b7,C883,0,C803,A000,80,0,80
4518,fbd7aa998394983937cc83998e8f4fee,0,8082,0,0,0,0,0
4519,07676cd53d3641355d94ed32acc46f90,0,8002,0,0,D803,0,0